:root {
  --main_text_color: aliceblue;
  --lightmode_text: black;
  --color1pc: #041325;
  --color2pc: #090d17;
  --color3pc: black;
  --linkcolor:#347acb;
  --linkcolormo: #347acb;
  --margin-top: 0 50%;
  }  

  .lightmode{
    --main_text_color: var(--lightmode_text);
    --color1pc: rgb(253, 251, 247);
    --color2pc: rgb(255, 255, 255);
    --color3pc: rgb(247, 251, 255);
    --d: rgb(var(--color1pc), 0.01);
  }

@media only screen and (min-width:899px){


  svg {
      position: absolute;
    }
  body {
      font-family: 'Quicksand', sans-serif;
      background: linear-gradient(var(--color1pc), var(--color2pc), var(--color3pc));
      z-index: 3;
      padding: full;
  }
  #main-content {
      background: linear-gradient(var(--color1pc), var(--color2pc), var(--color3pc));
  }

  header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  background: transparent;
  border-bottom: 1px solid var(--main_text_color);

  font-family: 'Source Code Pro', monospace;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
  }

  .nav-left, .nav-right {
    display: flex;
    gap: 20px;
  }

  nav a, nav button {
    color: var(--main_text_color);
    text-decoration: none;
    background: transparent;
    border: transparent;
    font-size: 1rem;
    transition: 0.2s;
  }

  nav a:hover, nav button:hover {
    transform: scale(1.05);
  }
    
    ::-webkit-scrollbar {
        width: 2px;
    }
    
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 1px;
    }
    ::-webkit-scrollbar-thumb {
        background: rgb(0, 0, 0);
        border-radius: 1px;
    }
    .main-title{
        text-align: left;
        font-size: 4em;
        margin: 0 0 1em;
        clear: left;
        width: 1240px;
        margin: 1.5em auto;
        color: var(--main_text_color);
    }
    .intro {
        text-align: left;
        font-size: 1.45em;
        width: 1000px;
        color: var(--main_text_color);
        margin: 2em;
    }
    .subtitles{
        text-align: left;
        font-size: 2.5em;
        color: var(--main_text_color);
        margin: 2.5em;
        position: static;
        min-height: 25px;
    }
    .typewriter p {
      font-family: monospace;
      white-space: pre;
      visibility: hidden;
      flex-wrap: wrap;
  }
    .descriptions{
        text-align: left;
        font-size: 1.45em;
        width: 600px;
        color: var(--main_text_color);
        height: auto;
        margin: 2em;
    }
    #main-content{
      margin-top: 15vh;
    }
    .publication-content{
      text-align: left;
      font-size: 1.45em;
      width: auto;
      color: var(--main_text_color);
      height: auto;
      margin: 3em;
    }
    p.publication-content{
      line-height: 1.1em;
      margin-bottom: 2em;
    }

    #DateAndTime{
      margin-left: 15vw;
      color: var(--main_text_color);
      font-family: monospace;
      font-size: 1em;
      font-style: italic;
    }

    .descriptions{
        display: flex;
    }
    
    .publication-title{
      margin-bottom: auto;
      margin-left: 5em;
      display: flex;
      z-index: 4;
    }
    .postslist-title{
      color: var(--linkcolor);
    }

    #publication-image{
      height: auto;
      width: 30vw;
      margin-bottom: 20vh;
      margin-top: 4vh;
      /*The margin-left value is given by the formula m = (50-width/2) if the image is to be held in the center*/
      margin-left: 35vw;
      margin-right: 2vw;
      border-radius: 1%;
    }
    #publication-video{
      aspect-ratio: 16 / 9;
      width: 30vw;
      margin-bottom: 20vh;
      margin-top: 4vh;
      /*The margin-left value is given by the formula m = [50-(width/2)] if the image is to be held in the center*/
      margin-left: 35vw;
      margin-right: 2vw;
      border-radius: 1%;
    }
    .publication-image-descriptor{
      text-align:center;
      color: var(--main_text_color);
      font-style: italic;
      font-family: monospace;
      padding-left:8vw;
      padding-right: 8vw;
      /*The margin-top value shall be negative if the #publication-image's margin-bottm value is too great.*/
      margin-top: -19vh;
    }

    .code{
      margin-left: 6.25vw;
      margin-right: 6.25vw;
      background-color: black;
      border-radius: 0.5vw;
      color:antiquewhite;
      text-wrap: initial;
    }
    .read-more{
      margin-left: 6.25vw;
      background-color: transparent;
      border-color: transparent;
      color: var(--main_text_color);
    }
    
    #not-footer{
      z-index:1;
    }

    .dynamicgen{
      text-align: center;
      margin-top: auto;
      margin-bottom: 0%;
      height: 4.62962963;
      color: var(--main_text_color);
      background-color: var(--color3pc);
      border-width: 1px 0px 0px 0px;
      border-style: solid;
      display: flexbox;
    }
    footer{
      text-align: center;
      margin-top: 113.8%;
      margin-bottom: 0%;
      height: 50px;
      color: var(--main_text_color);
      background-color: var(--color3pc);
      border-width: 1px 0px 0px 0px;
      border-color: var(--main_text_color);
      border-style: solid;
      display: flexbox;
    }
    footer a{
      forced-color-adjust: revert;
      color: #044152 !important;
      text-decoration:none;
    }
    #publication-footer{
      margin-top: 13vh;
      z-index: 0;
    }
    #publication-list-footer{
      margin-top:73vh;
    }
    .dark-link{
      color: var(--linkcolormo);
    }
    .bright-link{
      color: var(--linkcolor);
    }
}









@media only screen and (max-width: 900px) {
    svg {
      position: absolute;
    }

    #main-content {
     background: linear-gradient(var(--color1pc), var(--color2pc), var(--color3pc));
    }

   body.dynamic-body{
    font-family: 'Quicksand', sans-serif;
    padding: 0% 0% auto 0%;
    background: var(--color1pc);
    background: linear-gradient(var(--color1pc), var(--color2pc) 30%, var(--color3pc) 90%);
    z-index: 1;
    font-size: 1.7vh;
    scroll-behavior: smooth;
    }
  .static-body{
    font-family: 'Quicksand', sans-serif;
    padding: 0% 0% 435.5% 0%;
    background: var(--color1pc);
    background: linear-gradient(var(--color1pc), var(--color2pc) 30%, var(--color3pc) 90%);
    z-index: 0;
    font-size: 1.7vh;
    scroll-behavior: smooth;
    }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    background: transparent;
    border-bottom: 1px solid var(--main_text_color);

    font-family: 'Source Code Pro', monospace;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
  }

  .nav-left,
  .nav-right {
    display: flex;
    gap: 20px;
  }

  nav a, nav button {
    color: var(--main_text_color);
    text-decoration: none;
    background: transparent;
    border: transparent;
    font-size: 1rem;
    transition: 0.2s;
  }

  nav a:hover, nav button:hover {
    transform: scale(1.05);
  }
  .dark-link{
    color: var(--linkcolormo);
  }
  .bright-link{
    color: var(--linkcolor);
  }
    
  .dropdown:hover .dropdown-content {
    display: block;
    margin-left: 7%;
    }

  ::-webkit-scrollbar {
    width: 0.22%;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 11.11% grey;
    border-radius: 0.11%;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 0.11%;
  }
  .main-title{
    text-align: left;
    font-size: 6vw;
    margin: 0 0 2vw;
    clear: left;
    width: 100%px;
    margin: 1.5em auto;
    color: var(--main_text_color);
}
  .intro, .descriptions {
    padding: 0px 1.67% 1.67% 0px;
    text-align: left;
    font-size: 1.7vh;
    width: 94.44%;
    margin-left: 2.22%;  
  }
  .subtitles{
    text-align: left;
    font-size: 2.5vh;
    color: var(--main_text_color);
    margin: 2.5vw;
    position: static;
    min-height: 10vh;
}
.typewriter p {
  font-family: monospace;
  visibility: hidden;
  flex-wrap: wrap;
}

  .descriptions {
    display: flex;
    padding: 0% 0% -16.7% 0%;
  }
  .intro{
    padding: 0% 0% -16.7% 0%;
    color: var(--main_text_color);
  }

  
  #image-container{
    margin-left: 3vw;
    z-index: 99;
  }
  .my-image {
    width: 28.12vw;
    height: 28.12vw;
    border-radius: 2%;
    margin: 1vw;
    transition: 450ms;
  }
  .my-image:hover {
    display: auto;
    padding: 10vh 30vw ;
    border-radius: 2%;
    margin: 1vw;
    transform: scale(2);
    transition: 225ms;
    z-index: 1;
  }
  #DateAndTime{
    margin-left: 15vw;
    color: var(--main_text_color);
    font-family: monospace;
    font-size: 0.675em;
    font-style: italic;
  }
  #publication-image{
    display: block;
    height: auto;
    width: 58vw;
    margin-bottom: 12vh;
    margin-top: 12vh;
    /*The margin-left value is given by the formula (50-width/2) if the image is to be held in the center*/
    margin-left: 21vw;
    margin-right: 2vw;
    border-radius: 1%;
    transition: inherit;
  }
    .img_wrapper{
    overflow: visible;
    transition: transform 0.3s ease-in-out; 
  }
  .img_wrapper:has(#publication-image:hover){
    transform: scale(1.4);
    .publication-image-descriptor{
      transform: scale(calc(1/1.4));
    }
  }

  #publication-video{
    aspect-ratio: 16 / 9;
    width: 68vw;
    margin-bottom: 12vh;
    margin-top: 1vh;
    /*The margin-left value is given by the formula m = [50-(width/2)] if the image is to be held in the center*/
    margin-left: 16vw;
    margin-right: 2vw;
    border-radius: 1%;
  }
  .publication-image-descriptor{
    --margin-top:-11vh;
    font-size: 0.675em;
    text-align:center;
    color: var(--main_text_color);
    font-style: italic;
    font-family: monospace;
    padding-left:8vw;
    padding-right: 8vw;
    /*The margin-top value shall be negative if the #publication-image's margin-bottm value is too great.*/
    margin-top: var(--margin-top);
    transition: transform 0.3s ease-in-out;
  }

  #main-content{
    margin-top: 15vh;
  }
  .publication-title{
    margin-bottom: auto;
    margin-left: 2em;
    display: flex;
    z-index: 4;
  }
  .publication-content{
    text-align: left;
    font-size: 1em;
    width: auto;
    color: var(--main_text_color);
    height: auto;
    margin: 1em;
  }
  p.publication-content{
    line-height: 1.1em;
    margin-bottom: 2em;
  }
  .postslist-title{
    color: var(--linkcolormo);
    font-size: 0.75em;
    /*This element is for the <a> tag of the title, so DO NOT EDIT IT UNLESS YOU WANT TO COLOR IT!*/
  }
  .dynamicgen{
    text-align: center;
    margin-top: auto;
    margin-bottom: 0;
    color: var(--main_text_color);
    background: var(--color3mo);
    border-width: 0.06% 0 0 0;
    border-color: rgba(0, 0,0, 0);
    border-style: solid;
    display: flexbox;
  }

  .code{
    margin-left: 6.25vw;
    margin-right: 6.25vw;
    background-color: black;
    border-radius: 0.5vw;
    color:antiquewhite;
    text-wrap: initial;
    overflow-wrap: break-word;
    font-size: 0.8em;
  }
  .read-more{
    margin-left: 6.25vw;
    background-color: transparent;
    border-color: transparent;
    color: var(--main_text_color);
  }
    #not-footer{
      z-index:1;
    }

  footer a{
    color: #002b5d !important;
    text-decoration:none;
  }
  footer{
      text-align: center;
      margin-top: 450.5%;
      margin-bottom: -450.5%;
      color: var(--main_text_color);
      background: var(--color3mo);
      border-width: 0.06% 0 0 0;
      border-color: var(--main_text_color);
      border-style: solid;
      display: flexbox;
  }
  #publication-footer{
    margin-top: 12vh;
  }
  #publication-list-footer{
    margin-top:76vh;
  }
}
    
/*Sorry for my terribly repetitive/boilerplate-ridden code, I'll try improving it soon-ish.*/