@media only screen and (min-width:899px){
    body {
        font-family: 'Quicksand', sans-serif;
        background: linear-gradient(#05172e, #0c1426, #001121);
        padding: full;
    }
    nav{
        display: inline;
    }
    .navbar {
        overflow: hidden;
        background-color: transparent;
    }
    
    /* Links inside the navbar */
    .navbar a {
        float: left;
        font-size: 1em;
        color: transparent;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    /* The dropdown container */
    .dropdown {
        float: left;
        overflow: hidden;
    }
    
    /* Dropdown button */
    .dropdown .dropbtn {
        font-size: 1.3em;
        border: none;
        outline: none;
        color: aliceblue;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0; 
        transition: 300ms;
    }
    
    .navbar a:hover, .dropdown:hover .dropbtn {
        font-size: 1.6em;
        color: aliceblue;
        transition: 300ms;
    }
    
    /* Dropdown content (hidden by default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: transparent;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
        float: none;
        transition: 300ms;
        color: aliceblue;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    
    /* Add a grey background color to dropdown links on hover */
    .dropdown-content a:hover {
        background-color: transparent;
        text-shadow: 300px 0 300px 300px;
        transition: 300ms;
    }
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }
    ::-webkit-scrollbar {
        width: 2px;
    }
    
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 1px;
    }
    ::-webkit-scrollbar-thumb {
        background: rgb(0, 0, 0);
        border-radius: 1px;
    }
    .box{
        font-family: 'Source Code Pro', monospace;	color: aliceblue;
        color: aliceblue;
        text-decoration: aliceblue;
        background-color: #05172e;
        border-bottom: 3000px;
        max-width: 3000%;
        max-height: 1300%;
        margin-top: -9px;
        margin-left:-3%;
        margin-right: -0.55%;
        border-width: 0px 0px 1px 0px;
        border-color: rgb(219, 232, 250);
        border-style: solid;
        display: flexbox;
    }
    .main-title{
        text-align: left;
        font-size: 4em;
        margin: 0 0 1em;
        clear: left;
        width: 1240px;
        margin: 1.5em auto;
        color: aliceblue;
    }
    .intro {
        text-align: left;
        font-size: 1.45em;
        width: 1000px;
        color: aliceblue;
        margin: 2em;
    }
    .subtitles{
        text-align: left;
        font-size: 2.5em;
        color: aliceblue;
        margin: 2.5em;
        position: static;
        min-height: 25px;
    }
    .descriptions{
        text-align: left;
        font-size: 1.45em;
        width: 600px;
        color: aliceblue;
        height: auto;
        margin: 2em;
    }
    .ai{
        padding: 0px 30px 300px 0px;
        width: 600px;
        position: absolute;
    }
    .coding{
        padding: 380px 30px 300px 0px;
        width: 600px;
        position: absolute;
    }
    .reverse-engineering{
        padding: 760px 30px 300px 0px;
        width: 600px;
        position: absolute;
    }
    .SciTech{
        padding: 1140px 30px 300px 0px;
        width: 600px;
        position: absolute;
    }
    .aipics{
        display: flex;
    }
    .intropics {
        display: flex;
    }
    .aipics .img1{
        margin-left: 57.5%;
        margin-right: 42.5%;
        margin-top: -3%;
        border-radius: 5%;
        transition: transform .4s;
        transition: 400ms;
        position: absolute;
        z-index: 1;
        display: flex;
    }
    .aipics .img2{
        margin-left: 65%;
        margin-right: 35%;
        margin-top: -3%;
        border-radius: 5%;
        transition: transform .4s;
        transition: 400ms;
        position: absolute;
        display: flex;
        z-index: 2;
    }
        .aipics .img3{
        margin-left: 50%;
        margin-right: 50%;
        margin-top: -3%;
        border-radius: 5%;
        transition: transform .4s;
        transition: 400ms;
        position: absolute;
        z-index: 0;
        display: flex;
    }
    .aipics .img1:hover{
        zoom: 100%;
        margin-left: 48%;
        margin-right: 52%;
        position: absolute;
        transition: 400ms;
        transform: scale(2); 
    }
    .aipics .img2:hover{
        zoom: 100%;
        margin-left: 55%;
        margin-right: 45%;
        position: absolute;
        transition: 400ms;
        z-index: 1;
        transform: scale(2); 
    }
    .aipics .img3:hover{
        zoom: 100%;
        margin-left: 46%;
        margin-right: 54%;
        position: absolute;
        transition: 400ms;
        transform: scale(2);
        z-index: 1;
    }
    .descriptions{
        display: flex;
    }
    .intropics .img3{
        margin-left: 55%;
        margin-right: 45%;
        margin-top: -18.4%;
        height: auto;
        border-bottom-left-radius: 5%;
        transition: transform .4s;
        transition: 400ms;
        position: absolute;
        display: flex;
    }
    .intropics .img4{
        margin-left: 66.75%;
        margin-right: 33.25%;
        margin-top: -25%;
        height: auto;
        border-top-right-radius: 5%;
        transition: transform .4s;
        transition: 400ms;
        position: absolute;
        display: flex;
    }
    .intropics .img5{
        margin-left: 55%;
        margin-right: 45%;
        margin-top: -25%;
        height: auto;
        border-top-left-radius: 5%;
        transition: transform .4s;
        transition: 400ms;
        position: absolute;
        display: flex;
    }
    .intropics .img6{
        margin-left: 66.75%;
        margin-right: 33.25%;
        margin-top: -18.4%;
        height: auto;
        border-bottom-right-radius: 5%;
        transition: transform .4s;
        transition: 400ms;
        position: absolute;
        display: flex;
    }
    .codepic .img7{
        margin-left: 55%;
        margin-top: 18.4%;
        border-radius: 2%;
        transition: transform .4s;
        transition: 400ms;
        position: absolute;
    }
    .codepic .img7:hover{
        zoom: 100%;
        margin-left: 52.5%;
        margin-top: 18.4%;
        position: absolute;
        transition: 400ms;
        transform: scale(2); 
    }
    .decompilerpic .img8{
        margin-left: 55%;
        margin-top: 39.8%;
        border-radius: 2%;
        transition: transform .4s;
        transition: 400ms;
        position: absolute;
    }
    .decompilerpic .img8:hover{
        zoom: 100%;
        margin-left: 55%;
        margin-top: 39.8%;
        transition: 400ms;
        transform: scale(2); 
        position: absolute;
    }
    .medalspic .img9{
        margin-left: 55%;
        margin-top: 67.8%;
        border-radius: 2%;
        transition: transform .4s;
        transition: 400ms;
        position: absolute;
    }
    .medalspic .img9:hover{
        zoom: 100%;
        margin-left: 55%;
        margin-top: 67.8%;
        transition: 400ms;
        transform: scale(2); 
        position: absolute;
    }

    footer{
        text-align: center;
        margin-top: 113.8%;
        margin-bottom: 0%;
        height: 50px;
        color: aliceblue;
        background-color: #001121;
        border-width: 1px 0px 0px 0px;
        border-color: rgb(219, 232, 250);
        border-style: solid;
        display: flexbox;
    }
}
@media only screen and (max-width: 900px) {
    body{
    font-family: 'Quicksand', sans-serif;
    padding: 0% 0% 420.5% 0%;
    background: #0099c3;
    background: linear-gradient(#0099c3, #007a78 30%, #0c1426 90%);
    z-index: 1;
    font-size: 1.7vh;
    scroll-behavior: smooth;
    }
  
  nav {
    display: inline;
  }
  
  .navbar {
    overflow: hidden;
    background-color: inherit;
  }
  
  .navbar a {
    font-size: 2vh;
    color: inherit;
    text-align: center;
    padding: 1.54% 1.78%;
  }
  
  .dropdown {
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 2vh;
    border: none;
    outline: none;
    padding: 1.54% 7.68%;
    background-color: inherit;
    font-family: inherit;
    margin-left: -10px;
    transition: 300ms;
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    font-size: 2.5vh;
    transition: 300ms;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 8.89%;
    box-shadow: 0px 0.44% 0.89% 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    transition: 300ms;
    padding: 2% 1.78%;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: transparent;
    text-shadow: 33.33% 0 33.33% 0px;
    transition: 300ms;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .box{
    font-family: 'Source Code Pro', monospace;
    text-align: left;
    color: aliceblue;
    text-decoration: aliceblue;
    background-color: transparent;
    border-bottom: 166.67%;
    max-width: 333.33%;
    max-height: 72.22%;
    margin-top: -0.5%;
    margin-left: -0.33%;
    margin-right: -0.06%;
    border-width: 0 0 0.06vh;
    border-color: rgb(219, 232, 250);
    border-style: solid;
    display: flexbox;
}
  ::-webkit-scrollbar {
    width: 0.22%;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 11.11% grey;
    border-radius: 0.11%;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 0.11%;
  }
  .main-title{
    text-align: left;
    font-size: 4vh;
    margin: 0 0 2vw;
    clear: left;
    width: 100%px;
    margin: 1.5em auto;
    color: aliceblue;
}
  .intro, .descriptions {
    padding: 0px 1.67% 1.67% 0px;
    text-align: left;
    font-size: 1.7vh;
    width: 94.44%;
    margin-left: 2.22%;  
  }
  .subtitles{
    text-align: left;
    font-size: 2.5vh;
    color: aliceblue;
    margin: 2.5vw;
    position: static;
    min-height: 10vh;
}

  .descriptions {
    display: flex;
    padding: 0% 0% -16.7% 0%;
  }
  .intro{
    padding: 0% 0% -16.7% 0%;
  }
  
  .ai, .coding, .reverse-engineering, .SciTech {
    padding: full;
    width: 90%;  
  }
  
  .ai {
    padding: 0% 0% 0% 0px;
    position: absolute;
}
  
  .coding {
    padding: 120% 0% 0% 0%;
    position: absolute;
  }
  .descriptions .coding {
    background: -webkit-linear-gradient(#000000 20%, aliceblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .reverse-engineering {
    padding: 220% 0% 0% 0;
    position: absolute;
    background: -webkit-linear-gradient(#000000 5%, aliceblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .SciTech {
    padding: 320% 0% 16.67% 0;
    position: absolute;
    background: -webkit-linear-gradient(#000000 2%, aliceblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .aipics {
    margin-left: 6.25%;
    margin-top: 55%;
    border-radius: 5%;
    transition: transform .4s;
    position: absolute;
    }
    .codepic .img7{
        margin-left: 12.5%;
        margin-top: 150%;
        border-radius: 2%;
        transition: transform .4s;
        transition: 400ms;
        position: absolute;
    }
    .decompilerpic .img8{
        margin-left: 12.5%;
        margin-top: 245%;
        border-radius: 2%;
        transition: transform .4s;
        transition: 400ms;
        position: absolute;
    }
    .medalspic .img9{
        margin-left: 12.5%;
        margin-top: 370%;
        border-radius: 2%;
        transition: transform .4s;
        transition: 400ms;
        position: absolute;
    }
    footer{
        text-align: center;
        margin-top: 437.5%;
        margin-bottom: -437.5%;
        color: aliceblue;
        background: #0c1426;
        border-width: 0.06% 0 0 0;
        border-color: rgba(0, 0,0, 0);
        border-style: solid;
        display: flexbox;
    }
}
    
    
    
/*Sorry for my terribly repeatable code, I'll try improving it soon-ish.*/